<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Home</title>
</head>

<body>

    <h3>Você esta logado com {{user}}</h3>

    <a href="{%url 'postsong'%}">Poste uma cifra</a>
    <br>
    <a href="{%url 'register'%}">Registre
    <br>
    <a href="{%url 'logout'%}">Logout</a>
    <br>
    <a href="{%url 'login'%}">Login</a>
    <br>
    <br>
    <br>
    <div class="filter-box">
        <form action="{% url 'songsfilter' %}" method="post">

            {% csrf_token %}

            <input name="song" type="text" placeholder="Música">
            <br>
            <input name="artist" type="text" placeholder="Artista">
            <button type="submit">pesquisar</button>
        </form>
    </div>
    <br>
</body>

</html>