<!DOCTYPE html>
<html lang="pt=br">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>

<body>

    <div class="song-detail-box">
        <h1>{{song.title}}</h1>
        <h2>{{song.artist}}</h2>
        <p style="white-space:pre-wrap;">{{song.chords}}</p>
        <h4>{{song.tuning}}</h4>
        <h4>{{song.key}}</h4>
        <h4>{{song.description}}</h4>
        <h4>{{song.author}}</h4>

    </div>

    <div class="button-box">
        <a href="{% url 'update_song' song.id%}">editar cifra</a>
    </div>

    <div class="button-box">
        <a href="{% url 'delete_song' song.id%}">arquivar cifra</a>
    </div>

</body>

</html>